.paralax {
  height: 29rem;
  background: url(../img/equipo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  @include tablet {
    padding: 0 2rem;
    background-position: center;
  }
  @include desktop {
    background-position-y: -30rem;
    height: 50rem;
  }
}

.paralax-mensaje {
  width: 100%;
  background: rgba(55, 57, 63, 0.8);
  backdrop-filter: blur(9px);
  padding: 3rem 3rem;
  @include desktop {
    width: 90rem;
    padding: 8.7rem 13rem;
  }
  h2 {
    color: $white;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
  }
}
