.presentation {
  @include tablet {
    background: linear-gradient(to right, $gray-F4 30%, transparent 30%);
  }
  @include desktop {
    background: linear-gradient(to right, $gray-F4 43%, transparent 43%);
  }
}
.container-presentation {
  display: flex;
  flex-direction: column-reverse;
  margin-top: $spacing-30;
  gap: $spacing-30;
  padding-top: $spacing-30;
  @include tablet {
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: $spacing-45 2rem;
  }
  @include desktop {
    width: 95%;
    max-width: 122rem;
    margin: 0 auto;
    gap: 12.1rem;
    padding: 9.6rem 0;
  }
}

.container-presentation-call {
  background: $gray-F4;
  padding: $spacing-30 0;
  @include tablet {
    padding: 0;
    background: none;
  }
}
.call-info {
  img {
    height: 19.5rem;
    object-fit: cover;
    object-position: 0 -15rem;
    margin-bottom: 1.5rem;
    @include tablet {
      height: 35rem;
      object-position: 0rem 0;
    }
    @include desktop {
      width: 408px;
      height: 446px;
    }
  }
  .info {
    padding: 0 1.6rem;
    @include tablet {
      padding: 0;
    }
    h4 {
      font-style: normal;
      font-weight: 600;
      line-height: 121%;
      max-width: 20rem;
      margin-bottom: 1rem;
      @include desktop {
        max-width: none;
        width: 70%;
        margin-bottom: 1.3rem;
      }
    }
    p {
      color: $gray;
      font-style: normal;
      font-weight: 400;
      line-height: 146.187%;
      margin-bottom: 1.3rem;
      @include desktop {
        margin-bottom: $spacing-30;
      }
    }
  }
}

.container-presentation-info {
  padding: 0 1.6rem;
  @include desktop {
    padding: 0;
  }

  .container-description-presentation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: $spacing-20;
    .description-presentation {
      color: $gray;
    }
  }
}
.sub-subtitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  .punter {
    width: 1.2rem;
    height: 1.2rem;
  }
  p {
    font-size: 1.6rem;
    @include tablet {
      font-size: 1.8rem;
    }
  }
  margin-bottom: $spacing-16;
}
.subtitle {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 121%;
  margin-bottom: $spacing-20;
}
.list-description {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  margin-bottom: 4.3rem;
  .item-description {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    svg {
      fill: $purple;
      width: 2.2rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
.container-experience {
  width: fit-content;
  padding: 2.8rem 3rem;
  display: flex;
  gap: 1.9rem;
  border: 0.1px solid $gray-E3;
  margin-bottom: 3.7rem;
  @include desktop {
    padding: 3.1rem 3.2rem;
  }
  .experience-info {
    span {
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0.4rem;
    }
    p {
      color: $gray;
      font-size: 1.6rem;
      max-width: 17.3rem;
    }
  }
}
