.service {
  margin: $spacing-30 0;
  padding: 0 1.6rem;
  @include tablet {
    margin-top: $spacing-45;
  }
  @include desktop {
    width: 95%;
    max-width: 122rem;
    margin: 15rem auto;
    padding: 0;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
    @include desktop {
      width: 55.7rem;
    }
  }
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 4rem;
  }
}

.container-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.card-service {
  padding: $spacing-30;
  background: $gray-F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  &:nth-child(1),
  &:nth-child(3) {
    justify-self: auto;
    @include desktop {
      justify-self: right;
    }
  }
  @include tablet {
    justify-content: space-between;
  }
  @include desktop {
    width: 38.5rem;
  }

  .info-card {
    width: auto;
    @include tablet {
      width: 163px;
    }
    p {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 127%;
      margin-bottom: 1.5rem;
    }
  }

  .container-img {
    .circle {
      background: $green;
      padding: 1.2rem 1.4rem;
      border-radius: 100rem;
      transition: 0.3s background-color ease-out;
      &:hover {
        background: $purple;
      }
      svg {
        fill: $white;
      }
      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.5rem;
        height: 7.5rem;
      }
    }
  }
}
