.why {
  width: 100%;
  background: $black;
  padding: 3rem 0;
  @include tablet {
    background-image: url("/build/img/why.jpg"),
      linear-gradient(to left, $black, $black);
    background-position: right, left;
    background-size: 45% 100%, 55% 100%;
    background-repeat: no-repeat;
    padding: 3rem 0;
  }

  @include desktop {
    height: 60rem;
  }
}
.container-why-info {
  padding: 0 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  @include tablet {
    padding: 0;
    width: 95%;
    max-width: 122rem;
    margin: 0 auto;
  }
}

.info-why {
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 609.643px;
  }
  .sub-subtitle {
    p {
      color: $white;
    }
  }
  .title {
    color: $white;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 121%;
    text-align: left;
    margin-bottom: 1.3rem;
  }
  .description {
    color: $white;
    font-style: normal;
    font-weight: 400;
    line-height: 146.187%;
    margin-bottom: 2rem;
  }
}
