@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

// Fuentes
$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$white: #ffffff;
$black: #37393f;
$gray: #7d7d7d;
$gray-F4: #f4f4f4;
$gray-B9: #B9B9B9;
$gray-E3: #E3E3E3;
$green: #40ddb6;
$purple: #2B7CED;
$blue: #2B7CED;

// Espacios
$spacing-10: 1rem;
$spacing-13: 1.3rem;
$spacing-16: 1.6rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-30: 3rem;
$spacing-34: 3.4rem;
$spacing-41: 4.1rem;
$spacing-45: 4.5rem;
$spacing-150: 15rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
