.container-servicios {
  margin-top: 95px;
}

.container-controller {
  background: #f4f4f4;
  padding: 5rem 3.5rem;
}

.features {
  overflow: hidden;
}

.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 0;
  padding: 1rem 2rem;
  transition: 0.3s;
  color: $black;
  border-radius: 0;
  border-right: 2px solid white;
  font-weight: 600;
  font-size: 15px;
}

.features .nav-link:hover {
  color: #fff;
  background: $purple;
}

.features .nav-link.active {
  color: #fff;
  /* border-color: #6B77E5; */
  background-color: $purple;
}

.tab-content {
  margin-top: 3rem;

  @media screen and (min-width: 750px) {
    margin-left: 3rem;
  }
}

.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #556270;
}

.features .details p {
  color: #777777;
}

.features .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .features .nav-link {
    border: 0;
    padding: 15px;
  }

  .features .nav-link.active {
    color: #fff;
    background: $purple;
  }
}
